/*{
	margin: 0;
	padding: 0;
}

header, footer, nav {
	display: block;
}*/

	/*Estilos para la aplicación*/
body{
    /*Color fondo del cuerpo de las vistas*/
    background: #f0f0f0;
    text-align: center;
}
h1{
	margin:0 auto;
	font-size:80px;
	color:#000;
}

h2{
	margin:0 auto;
	font-size:40px;
	color:purple;
}

h3{
	margin:0 auto;
	padding:20px;
	font-size:30px;
	color:purple;
	text-align:center;
}

h4{
	font-size:20px;
	color:black;
	text-align:center;
}

p {
    padding-bottom: 22px;
    text-align: center;
    color: blue;
    margin-top: 1%;
}
.conteo{
	text-align: center;
  	/**border: 1px solid #000;**/
}
.conteo th, .conteo td {
  border: 1px solid #000;
}
.titulo1{
	font-size: 38px;
	line-height: 34px;
	padding: 32px 0;
	text-align: center;
}
.titulo{
	font-size: 38px;
	line-height: 34px;
	text-align: center;
}
nav{
    position:absolute;
    left:0;
    width:100%;
}

nav ul{
    margin:0 auto;
    width:940px;
    list-style:none;
}

nav ul li{
    float:left;
    
}

.styloMenu li a{
    display:block;
    margin-right:10px;
    width:175px;
    font-size: 22px;
    line-height:44px;
    text-align:center;
    text-decoration:none;

    color:purple;
}

/*Le brinda a las propiedades de HOVER y Selected un color particular*/
      .styloMenu li a:hover {
            color: #ff6;
        }
 
        .styloMenu li.selected a { 
            color: #fff;
        }


.productos{
	
	background: #fff;
	height: 200px;
	width: 780px;
}
#registro{
	line-height: 22px;
    padding: 11px 0;
    font-size: 38px;
    text-align: center;
}
#registro p{
	font-size: 28px;
	color: black;
}


#contenedor{
	margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 60%;
    height: auto;
    padding: 5%;
    background: #F8F8F8;
}
#contenedor1{
    width: 60%;
    height: auto;
	margin-right: auto;
	margin-left: auto;
	padding: 8%;
	text-align: center;
    background: #F8F8F8;

}
#imagen  img{
	width: 250px;
	height: 150px;
	padding: 5%;
	display: inline-block;
}

#content {
    display: inline-block;
    padding: 5%;
}
#content1 {
    display: inline-block;
    padding: 5%;
}

#content2 {
    display: inline-block;
    padding: 5%;
}

#content3 {
    display: inline-block;
    padding: 5%;
}
.productos{
	height: 100%;
	width: 90%;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
	
}

/* caracteristicas del img de las imagenes contenidas en el body*/
    img{
        border-radius:10%;
        box-shadow: 0px 0px 15px #000;
    	width: 250px;
    	height:150px;

    }

/*este segundo bloque de codigo, se utilizo para crear un dinamismo en las imagenes*/
    img:hover{
        border-radius:10%;
        box-shadow: 0px 0px 50px #500;

        -moz-transition: all 1s;
        -webkit-transition: all 1s;
        -o-transition: all 1s;

    }
.conteo{
    display: block;
}
/*responsive*/

/*Tablet*/
@media only screen and (min-width:768px) and (max-width: 1024px)  {
#contenedor #contenedor1{
        position: fixed;
        width: 100%;
        top: 0;
        display: block;
    }
    ul .styloMenu{
        height: 30px;
        width: 100%;
    }
    ul .styloMenu > li{
        float: left;
        position: relative;
    }
    .conteo{
        display: block;
    }
    body{
        width: 100%
    }

}
/*Smartphone horizontal*/
@media only screen and (min-width: 321px) and (max-width: 767px){
#contenedor #contenedor1{
        position: fixed;
        width: 100%;
        top: 0;
        display: block;
    }
   ul .styloMenu{
        height: 30px;
        width: 100%;
    }
    ul .styloMenu > li{
        float: left;
        position: relative;
    }

    .conteo{
        display: block;
    }
    body{
        width: 100%
    }           
}
/*Smartphone vertical*/
@media only screen and (max-width: 320px){
#contenedor #contenedor1
{
        position: fixed;
        width: 100%;
        top: 0;
        display: block;
    }
    ul .styloMenu{
        height: 30px;
        width: 100%;
    }
    ul .styloMenu > li{
        float: left;
        position: relative;
    }

    .conteo{
        display: block;
    }
    body{
        width: 100%
        }   
    
}

/*form*/

form{
	text-align: center;
	margin-top: 5%;
	
}
form p {
        margin-bottom: 22px;
        padding: 0 22px;
        text-align: center;
        color: black;
    }

.error
{
    background-color: #BC1010;
    padding: 6px 12px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    margin-left: 16px;
    margin-top: 6px;
    position: absolute;

}
.error:before{ /* Este es un truco para crear una flechita */
    content: '';
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #BC1010;
    border-left: 8px solid transparent;
    left: -16px;
    position: absolute;
    top: 5px;
}
#detallesp{
	float: left;
  	width: 150px;
}
.element {
    font-family: arial,verdana,helvetica,sans-serif;
    font-size: 32px;
    color: #757575;
    border: 1px solid #D8D8D8;
    height: 32px !important;
    margin: 0 6px;
    padding: 2px 10px 5px !important;
}
.dias {
    font-size: 9px;
}
            
.horas {
    font-size: 9px;
    margin-left: 57px;
    margin-top: 10px;
    float: left;
}
            
.minutos {
    font-size: 9px;
    margin-left: 48px;
    margin-top: 10px;
    float: left;
}
            
.segundos {
    font-size: 9px;
    margin-left: 37px;
    margin-top: 10px;
    float: left;
}