{
	margin: 0;
	padding: 0;
}

header, footer, nav {
	display: block;
}
body{
	background: url("../img/fondo.jpg") no-repeat center center fixed;
	background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
	font: 13px/22px Helvetica, Arial,sans-serif;
}
h1{
	margin:0 auto;
	font-size:80px;
	color:#000;
}

h2{
	margin:0 auto;
	font-size:40px;
	color:purple;
}

h3{
	margin:0 auto;
	padding:20px;
	font-size:30px;
	color:purple;
	text-align:center;
}

h4{
	font-size:20px;
	color:black;
	text-align:center;
}

p {
    padding-bottom: 22px;
    text-align: center;
    color: blue;
    margin-top: 1%;
}
.conteo{
	text-align: center;
  	/**border: 1px solid #000;**/
}
.conteo th, .conteo td {
  border: 1px solid #000;
}
.titulo1{
	font-size: 38px;
	line-height: 34px;
	padding: 32px 0;
	text-align: center;
}
.titulo{
	font-size: 38px;
	line-height: 34px;
	text-align: center;
}
nav{
    position:absolute;
    left:0;
    width:100%;
}

nav ul{
    margin:0 auto;
    width:940px;
    list-style:none;

}

nav ul li{
    float:left;
    
}

.styloMenu li a{
    display:block;
    margin-right:10px;
    width:175px;
    font-size: 22px;
    line-height:44px;
    text-align:center;
    text-decoration:none;

    color:purple;
}

/*Le brinda a las propiedades de HOVER y Selected un color particular*/
      .styloMenu li a:hover {
            color: #ff6;
        }
 
        .styloMenu li.selected a { 
            color: #fff;
        }


.productos{
	
	background: #fff;
	height: 200px;
	width: 780px;
}
#registro{
	line-height: 22px;
    padding: 11px 0;
    font-size: 38px;
    text-align: center;
}
#registro p{
	font-size: 28px;
	color: black;
}


#contenedor{
	height: 1050px;
	width: 780px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 9%;

}
#contenedor1{
	margin-right: auto;
	margin-left: auto;
	padding: 8%;
	text-align: center;

}
#imagen  img{
	width: 250px;
	height: 150px;
	padding: 5%;
	display: inline-block;
}

#content {
    display: inline-block;
    padding: 5%;
}
#content1 {
    display: inline-block;
    padding: 5%;
}

#content2 {
    display: inline-block;
    padding: 5%;
}

#content3 {
    display: inline-block;
    padding: 5%;
}
.productos{
	height: 100%;
	width: 90%;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
	
}

/* caracteristicas del img de las imagenes contenidas en el body*/
    img{
        border-radius:10%;
        box-shadow: 0px 0px 15px #000;
    	width: 250px;
    	height:150px;

    }

/*este segundo bloque de codigo, se utilizo para crear un dinamismo en las imagenes*/
    img:hover{
        border-radius:10%;
        box-shadow: 0px 0px 50px #500;

        -moz-transition: all 1s;
        -webkit-transition: all 1s;
        -o-transition: all 1s;

    }

form{
	text-align: center;
	margin-top: 5%;
	
}
form p {
        margin-bottom: 22px;
        padding: 0 22px;
        text-align: center;
        color: black;
    }
#detallesp{
	float: left;
  	width: 150px;
}